@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
* {
  margin: 0%;
  padding: 0%;
}

body {
  max-width: 1440px;
  max-height: 2886px;
}
body nav {
  position: relative;
  top: 0;
  width: 100vw;
  height: 650px;
  background-image: url(../images/desktop/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body nav div.container {
  position: absolute;
  margin: 6vh 10vw 0 10vw;
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body nav div.container svg {
  padding: 0 0 0 1rem;
}
body nav div.container div.menu {
  display: flex;
}
body nav div.container div.menu a {
  padding: 0 1.9rem 0 0;
  font-family: "Alata", sans-serif;
  color: white;
  font-size: 15px;
  text-decoration: none;
}
body div#cuadro {
  position: absolute;
  top: 20.75vh;
  left: 11.3vw;
  border: 2px solid white;
  padding: 2rem;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  color: white;
  font-size: 4.4rem;
  font-weight: 300;
  padding: 2.4rem 6.9rem 1.5rem 2.5rem;
}
body main {
  width: 100vw;
  height: 200vh;
}
body main div#secondImg {
  background-image: url(../images/desktop/image-interactive.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 10rem 0 0 10.25rem;
  width: 731;
  height: 500px;
}
body main div#contentImg {
  position: absolute;
  right: 2.45rem;
  top: 62.05rem;
  background-color: white;
  width: 650px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}
body main div#contentImg h2 {
  text-align: left;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 300;
  padding: 3.75rem 4.2rem 1.5rem 0;
}
body main div#contentImg p {
  padding: 0 6rem;
  font-family: "Alata", sans-serif;
  color: #8c8c8c;
  font-size: 15px;
  line-height: 1.5rem;
}
body main div#trContent {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 8rem;
  height: 5vh;
  justify-content: baseline;
  width: 100vw;
  margin: 3.5rem 0 0 0;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  align-items: center;
}
body main div#trContent h2 {
  padding: 0 0 0.4rem 10.25rem;
  font-size: 3rem;
  font-weight: 300;
  width: 50%;
}
body main div#trContent a {
  margin: 0 0 0.4rem 14.75rem;
  padding: 0.5rem 2.25rem;
  letter-spacing: 0.25rem;
  border: 0.15rem solid black;
  font-family: "Alata", sans-serif;
  font-size: 16px;
  text-decoration: none;
}
body main section#containerBox {
  position: relative;
  top: 0%;
  width: 80vw;
  height: 80vh;
  margin: 10rem 9.25rem 0 9.25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}
body main section#containerBox div.boxImg {
  padding: 2.6rem 0;
  width: 23%;
  height: 45%;
}
body main section#containerBox div.boxImg p {
  margin: 22rem 1rem 0 2.5rem;
  width: 11rem;
  color: white;
  position: absolute;
  font-size: 2rem;
}
body footer {
  position: absolute;
  bottom: 20vh;
  width: 100vw;
  height: 20vh;
}

/*# sourceMappingURL=styles.css.map */
